@page "/customers"
@inject ICustomerService _customerService
@inject NavigationManager _nav
@inject IJSRuntime _js

<_DeleteConfirmation IsParentComponentProcessing="IsProcessing" ConfirmationChanged="ConfirmDelete_Click"></_DeleteConfirmation>
<div class="row mb-3">
    <div class="col-md-4">
        <select class="form-select" @bind="selectedCustomerTypeId">
            <option value="">All Types</option>
            @foreach (var customerType in CustomerTypes)
            {
                <option value="@customerType.CustomerTypeId">@customerType.TypeName</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Search..." @bind="searchText" />
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-success" @onclick="CreateCustomer">Create</button>
    </div>
</div>

@if (IsProcessing)
{
    <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in FilteredCustomers)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Email</td>
                    <td>@customer.Phone</td>
                    <td>@customer.CustomerTypeName</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditCustomer(customer.CustomerId)">Edit</button>
                        <button class="btn btn-danger " @onclick="() => DeleteCustomer(customer.CustomerId)">Delete</button>
                        <button class="btn btn-outline-dark " @onclick="() => DeleteCustomer(customer.CustomerId)">View Orders</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public bool IsProcessing { get; set; } = false;
    public IEnumerable<CustomerDTO> Customers { get; set; } = new List<CustomerDTO>();
    public string searchText { get; set; } = "";
    private int? selectedCustomerTypeId { get; set; }
    public IEnumerable<CustomerTypeDTO> CustomerTypes { get; set; } = new List<CustomerTypeDTO>();
    private int DeleteCustomerId { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        await LoadCustomers();
    }

    private async Task LoadCustomers()
    {
        IsProcessing = true;
        Customers = await _customerService.GetAllCustomers();
        CustomerTypes = await _customerService.GetAllCustomerTypes();
        IsProcessing = false;
    }

    public IEnumerable<CustomerDTO> FilteredCustomers =>
    Customers.Where(c =>
    {
        if (string.IsNullOrWhiteSpace(searchText))
            return true;

        var searchParts = searchText.Split(' ', StringSplitOptions.RemoveEmptyEntries);

        foreach (var part in searchParts)
        {
            if (c.FirstName.StartsWith(part, StringComparison.OrdinalIgnoreCase) ||
            c.LastName.StartsWith(part, StringComparison.OrdinalIgnoreCase) ||
            c.Email.StartsWith(searchText, StringComparison.OrdinalIgnoreCase) ||
            c.Phone.Contains(searchText, StringComparison.OrdinalIgnoreCase))
            {
                return true;
            }
        }

        return false;
    })
    .Where(c => selectedCustomerTypeId == null || c.CustomerTypeId == selectedCustomerTypeId);

    private void CreateCustomer()
    {
        // Navigate to create customer page
        _nav.NavigateTo("/customers/create");
    }

    private void EditCustomer(int customerId)
    {
        // Navigate to edit customer page
        _nav.NavigateTo($"/customers/edit/{customerId}");
    }

    private async Task DeleteCustomer(int customerId)
    {
        DeleteCustomerId = customerId;
        await _js.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }

    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsProcessing = true;
        if (isConfirmed && DeleteCustomerId != 0)
        {
            await _customerService.DeleteCustomer(DeleteCustomerId);
            await _js.ToastrSuccess("Customer deleted successfully.");
            await LoadCustomers();
            await _js.InvokeVoidAsync("HideDeleteConfirmationModal");
        }
        IsProcessing = false;
    }
}
