@page "/employees"
@inject IEmployeeService _employeeService
@inject NavigationManager _nav
@inject IJSRuntime _js

<_DeleteConfirmation IsParentComponentProcessing="IsProcessing" ConfirmationChanged="ConfirmDelete_Click"></_DeleteConfirmation>

<h3>Employees</h3>

<div class="row mb-3">
    <div class="col-md-3">
        <select class="form-select" @bind="selectedCityName">
            <option value="">All Cities</option>
            @foreach (var cityName in GetUniqueCityNames())
            {
                <option value="@cityName">@cityName</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-select" @bind="selectedStoreId">
            <option value="">All Stores</option>
            @foreach (var store in GetFilteredStores())
            {
                <option value="@store.StoreId">@store.StoreName - @store.CityName</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Search..." @bind="searchText" />
    </div>
    <div class="col-md-3 text-right">
        <button class="btn btn-success" @onclick="CreateEmployee"> + Create</button>
    </div>
</div>

@if (IsProcessing)
{
    <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Store</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in FilteredEmployees)
            {
                <tr>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Phone</td>
                    <td>@GetStoreInfo(employee.StoreId)</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditEmployee(employee.EmployeeId)">
                            <span class="material-icons">edit</span>
                        </button>
                        <button class="btn btn-danger" @onclick="() => DeleteEmployee(employee.EmployeeId)">
                            <span class="material-icons">delete</span>
                        </button>
                        <button class="btn btn-outline-dark" @onclick="() => ViewOrders(employee)">
                            <span class="material-icons">visibility</span> View Orders
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public bool IsProcessing { get; set; } = false;
    public IEnumerable<EmployeeDTO> Employees { get; set; } = new List<EmployeeDTO>();
    public IEnumerable<StoreDTO> Stores { get; set; } = new List<StoreDTO>();
    public string searchText { get; set; } = "";
    private int? selectedStoreId { get; set; }
    private int DeleteEmployeeId { get; set; } = 0;
    private string selectedCityName { get; set; }

    private IEnumerable<string> GetUniqueCityNames()
    {
        return Stores.Select(s => s.CityName).Distinct();
    }

    private IEnumerable<StoreDTO> GetFilteredStores()
    {
        if (string.IsNullOrEmpty(selectedCityName))
        {
            return Stores;
        }
        else
        {
            return Stores.Where(s => s.CityName == selectedCityName);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadEmployees();
        await LoadStores();
    }

    private async Task LoadEmployees()
    {
        IsProcessing = true;
        Employees = await _employeeService.GetAllEmployees();
        IsProcessing = false;
    }

    private async Task LoadStores()
    {
        Stores = await _employeeService.GetAllStores();
    }

    public IEnumerable<EmployeeDTO> FilteredEmployees =>
    Employees.Where(e =>
    {
        if (string.IsNullOrWhiteSpace(searchText))
            return true;

        var searchParts = searchText.Split(' ', StringSplitOptions.RemoveEmptyEntries);

        // Search logic: presence of each found word in first names or last names
        foreach (var part in searchParts)
        {
            if (e.FirstName.StartsWith(part, StringComparison.OrdinalIgnoreCase) ||
            e.LastName.StartsWith(part, StringComparison.OrdinalIgnoreCase) ||
            e.Phone.Contains(searchText, StringComparison.OrdinalIgnoreCase))
            {
                return true;
            }
        }

        return false;
    })
    .Where(e =>
        (string.IsNullOrEmpty(selectedCityName) || Stores.Any(s => s.CityName == selectedCityName && s.StoreId == e.StoreId)) &&
        (selectedStoreId == null || e.StoreId == selectedStoreId));

    private string GetStoreInfo(int? storeId)
    {
        if (storeId.HasValue)
        {
            var store = Stores.FirstOrDefault(s => s.StoreId == storeId);
            if (store != null)
            {
                return $"{store.StoreName} - {store.CityName}, {store.Address}";
            }
        }
        return string.Empty;
    }

    private void CreateEmployee()
    {
        // Navigate to create employee page
        _nav.NavigateTo("/employees/create");
    }

    private void EditEmployee(int employeeId)
    {
        // Navigate to edit employee page
        _nav.NavigateTo($"/employees/edit/{employeeId}");
    }

    private async Task DeleteEmployee(int employeeId)
    {
        DeleteEmployeeId = employeeId;
        await _js.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }

    private void ViewOrders(EmployeeDTO employee)
    {
        // Navigate to view orders for employee with the employee's name as a search query
        _nav.NavigateTo($"/orders?search={employee.FirstName} {employee.LastName}");
    }

    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsProcessing = true;
        if (isConfirmed && DeleteEmployeeId != 0)
        {
            await _employeeService.DeleteEmployee(DeleteEmployeeId);
            await _js.ToastrSuccess("Employee deleted successfully.");
            await LoadEmployees();
            await _js.InvokeVoidAsync("HideDeleteConfirmationModal");
        }
        IsProcessing = false;
    }
}
